<div
  class="header-container text-white d-flex align-items-center justify-content-left"
>
  <div class="overlay">
    <div class="container">
      <h1 class="display-5 fw-bold">
        Les sorties entre<span style="color: #ffce34"> amis</span><br />
        n’ont jamais été aussi simples
      </h1>
      <p class="lead">
        Organisez vos activités de loisirs et de divertissement en <br />
        toute simplicité et profitez pleinement du moment.
      </p>
      <div class="mt-4">
        <button class="pink-btn margin" width="200px">Je n’attend plus, je m’inscris !</button>
        <button width="200px"
          class="margin btn-custom btn-custom-white btn-outline-light btn-small fw-bold"
        >
          HéHé, j’ai déjà un compte
        </button>
      </div>
    </div>
  </div>
</div>
