.contact-section {
    background-color: #242552;
    height: 140vh;
    overflow-x: hidden !important;
}
.border {
    border: 1px solid white;
    border-radius: 20px;
    opacity: 0.8;
}
.custom-placeholder::placeholder {
    font-family: "Rubik", poppins;
    color: white; 
    opacity: 0.8; 
    font-size: 15px; 
  }
  .padding-all {
    margin: 10px !important;
    padding: 10px;
  }