<div
  id="about"
  class="main main-container d-flex flex-column align-items-center justify-content-center min-vh-100"
>
  <!-- Heading and Text at the Top -->
  <div class="text-center mb-4 padding-top">
    <h2 class="fw-bold blue-text">Qui sommes-nous ?</h2>
    <p class="blue-text">
      8 ans de collaboration : une équipe soudée et bien entourée
    </p>
  </div>

  <!-- Left and Right Divs in a Row -->
  <div class="about row w-100 d-flex align-items-center justify-content-center">
    <!-- Left Div -->
    <div class="left col-12 col-md-6 col-lg-4 position-relative mb-4 mb-md-0 d-flex justify-content-center">
      <img
        src="./../../assets/images/about-left.png"
        alt="Lévine"
        class="img-fluid"
      />
      <div class="left-text">
        <h5 class="mb-0 blue-text fw-bold">Lévine</h5>
        <h5 class="fw-bold" style="color: aqua">
          Co-fondateur<br />Chef de projet
        </h5>
        <p class="blue-text small mt-3">
          Avec une formation en gestion de projet et une expérience
          internationale, Lévine sait comment faire bouger les choses. Sa
          curiosité et son goût pour l'innovation lui permettent d'apporter des
          idées nouvelles et d'assurer que chaque projet avance dans la bonne
          direction. Son approche est simple : toujours aller de l'avant avec
          passion et pragmatisme.
        </p>
      </div>
    </div>

    <!-- Right Div -->
    <div class="right col-12 col-md-6 col-lg-4 position-relative d-flex justify-content-center">
      <img
        src="./../../assets/images/about-right.png"
        alt="Nath"
        class="img-fluid"
      />
      <div class="right-text">
        <h5 class="mb-0 blue-text fw-bold">Nath</h5>
        <h5 class="fw-bold" style="color: aqua">
          Co-fondateur,<br />Développeur Web et Mobile
        </h5>
        <p class="blue-text small mt-3">
          Avec une formation en gestion de projet et une expérience
          internationale, Nath sait comment faire bouger les choses. Sa
          curiosité et son goût pour l'innovation lui permettent d'apporter des
          idées nouvelles et d'assurer que chaque projet avance dans la bonne
          direction. Son approche est simple : toujours aller de l'avant avec
          passion et pragmatisme.
        </p>
      </div>
    </div>
  </div>
</div>
