<div
  class="keyfigures-section  d-flex flex-column align-items-center justify-content-center"
>
  <h2 class="text-center white-text">Chiffre clés</h2>
  <p class="text-center white-text small-text fw-light">Mise à jour le 01 septembre 2025</p>
  <div class="row justify-content-center container">
    <div
      *ngFor="let testimonial of testimonials"
      class="mt-10 pt-10 col-md-4 col-lg-4  col-sm-3 col-xm-4"
    >
      <div
        class="mt-10 pt-10 card position-relative d-flex align-items-center justify-content-center custom-card"
        style="height: 120px"
      >
        <img
          [src]="testimonial.image"
          class="img-fluid position-absolute"
          style="top: -25px; right: -10px; height: auto; z-index: 1"
          alt="Profile image"
        />
        <div
          class="card-body d-flex flex-column align-items-center justify-content-center text-center"
          style="height: 100%; width: 200px;"
        >
          <h5 class="card-title white-text">{{ testimonial.keyfigures }}</h5>
          <p class="card-text white-text small-text text-wrap">{{ testimonial.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
