/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: "Rubik", poppins;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important; 
}
.blue-text {
  font-family: "Rubik", poppins;
  color: #242552;
}
.font {
  font-family: "Rubik", poppins;

}

.btn-custom-secondary {
  background: #48a4a3;
  border: 1px solid #48a4a3;
  color: white;
}

.custom-btn {
  border: 2px solid #48a4a3; 
  color: #48a4a3;
  background-color: white; 
  border-radius: 30px;
  width: 100px;
  height: 40px;
}

.custom-btn.active {
  background-color: #48a4a3; 
  color: white; 
  border: 1px solid #48a4a3; 
}
.custom-word-spacing {
  word-spacing: -0.5rem;
}
.padding {
  padding: 30px;
}
.padding-top {
  padding-top: 30px;
  padding-bottom: 30px;
}
.white-text {
  font-family: "Rubik", poppins;
  color: white;
}
.blue-text {
  font-family: "Rubik", poppins;
  color: #242552;
  size: 12px;
}
.grey-text {
  font-family: "Rubik", poppins;
  color: grey;
  size: 12px;
}
.small-text {
  font-size: 13px;
}
.pink-btn {
  color: white;
  background: #e2074c;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.pink-btn {
  color: white;
  background: #e2074c;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.pink-btn:hover {
  opacity: 0.7;
}
.margin-top {
  margin-top: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
