<div class="background-container d-flex align-items-center padding">
  <div class="text-white padding">
    <h3 class="display-5 fw-bold">
      Boostez votre activité<br />
      de loisirs<br />
      grâce à notre solutionM<br />
      sur-mesure !
    </h3>
    <div class="margin-top">
      <img src="./../../assets/images/checkbox.png" class="d-inline" />
      <span class="padding">Augmentez votre visibilité</span>
    </div>
    <div class="margin-top">
      <img src="./../../assets/images/checkbox.png" class="d-inline" />
      <span class="padding">Optimisez votre gestion</span>
    </div>
    <div class="margin-top">
      <img src="./../../assets/images/checkbox.png" class="d-inline" />
      <span class="padding">Personnalisez votre offre</span>
    </div>
    <div class="margin-top">
      <img src="./../../assets/images/checkbox.png" class="d-inline" />
      <span class="padding">Bénéficiez d'un accompagnement personnalisé</span>
    </div>

    <button class="pink-btn d-block padding margin-top">
      Contactez notre équipe
    </button>
  </div>
</div>
